<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.kelin.combinenumbers" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"></activity>
        <activity
            android:name=".AnswerActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <!-- 芒果 Banner 开始 -->
        <activity
            android:name="com.project.kelin.adsdk.av.AdsdkWebView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />
        <!-- 注册Service，自主广告与交换广告的应用下载功能所需 -->

        <service
            android:name="com.project.kelin.adsdk.controller.service.UpdateService"
            android:exported="true"
            android:process=":remote" />

        <!-- 注册Service，安装应用所用 -->

        <service
            android:name="com.project.kelin.adsdk.controller.service.CountService"
            android:exported="true"
            android:process=":remote" />

        <!-- 芒果 Banner 结束 -->
        <activity
            android:name=".LaunchActivity"
            android:label="@string/title_activity_launch" >
        </activity>

        <!-- 有米传媒 Android SDK 配置(可直接复制节点) -->
        <!-- SDK 必须配置 -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>

        <receiver
            android:name="net.youmi.android.AdReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- /SDK 必须配置 -->


        <!-- 添加百度应用详情Activity -->
        <!-- 注册AppActivity -->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation" />

    </application>

    <!-- 添加用户权限 -->
    <!-- 连接网络权限INTERNET ，用于请求积分墙(必须) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取手机基本信息权限READ_PHONE_STATE，用于精确统计用户的机型等信息(必须) -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取网络信息权限ACCESS_NETWORK_STATE，用于识别gprs网络的接入点的情况(必须) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取用户地理信息权限，用于帮助精确统计开发者的程序发布之后的用户分布情况 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 获取当前wifi的状态及读取mac地址所需 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 读写sd 卡的权限，用于缓存广告所用到的图片，节省流量，并可获得更好的用户体验 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 创建和删除桌面快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 允许应用写入(并不能读)用户的浏览记录和书签 -->
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <!-- 在SDCard中创建与删除文件 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

</manifest>
